/* IMPORT FONT-FAMILY (League Spartan) */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

/* FONT-FAMILY CLASS */

.league-spartan-bold {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* ## Colors */

:root {
  /*! ### Theme 1 Backgrounds */

  /* (main background) */
  --Very-dark-desaturated-blue-body: hsl(222, 26%, 31%);
  /* (toggle background, keypad background) */
  --Very-dark-desaturated-blue-keypad: hsl(223, 31%, 20%);
  /* (screen background) */
  --Very-dark-desaturated-blue-output: hsl(224, 36%, 15%);

  /* #### Keys */

  /* (key background) */
  --Desaturated-dark-blue: hsl(225, 21%, 49%);
  /* (key shadow) */
  --Desaturated-dark-blue: hsl(224, 28%, 35%);
  /*  (key background, toggle) */
  --Red: hsl(6, 63%, 50%);
  /* (key shadow) */
  --Dark-red: hsl(6, 70%, 34%);
  /* (key background) */
  --Light-grayish-orange: hsl(30, 25%, 89%);
  /* (key shadow) */
  --Grayish-orange: hsl(28, 16%, 65%);

  /* #### Text */

  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);

  /*! ### Theme 2 Backgrounds */
  /* (main background) */
  --Light-gray: hsl(0, 0%, 90%);
  /* (toggle background, keypad background) */
  --Grayish-red: hsl(0, 5%, 81%);
  /* (screen background) */
  --Very-light-gray: hsl(0, 0%, 93%);

  /* #### Keys */
  /* (key background) */
  --Dark-moderate-cyan: hsl(185, 42%, 37%);
  /* (key shadow) */
  --Very-dark-cyan: hsl(185, 58%, 25%);
  /* (key background, toggle) */
  --Orange: hsl(25, 98%, 40%);
  /* (key shadow) */
  --Dark-orange: hsl(25, 99%, 27%);
  /* (key background) */
  --Light-grayish-yellow: hsl(45, 7%, 89%);
  /* (key shadow) */
  --Dark-grayish-orange: hsl(35, 11%, 61%);

  /* #### Text */

  --Very-dark-grayish-yellow: hsl(60, 10%, 19%);
  /* (text) */
  --White: hsl(0, 0%, 100%);

  /*! ### Theme 3 Backgrounds */
  /* (main background) */
  --Very-dark-violet: hsl(268, 75%, 9%);
  /* (toggle background, keypad background, screen background) */
  --Very-dark-violet: hsl(268, 71%, 12%);

  /* #### Keys */
  /* (key background) */
  --Dark-violet: hsl(281, 89%, 26%);
  /* (key shadow) */
  --Vivid-magenta: hsl(285, 91%, 52%);
  /* (key background, toggle) */
  --Pure-cyan: hsl(176, 100%, 44%);
  /* (key shadow) */
  --Soft-cyan: hsl(177, 92%, 70%);
  /* (key background) */
  --Very-dark-violet: hsl(268, 47%, 21%);
  /* (key shadow) */
  --Dark-magenta: hsl(290, 70%, 36%);

  /* #### Text */

  --Light-yellow: hsl(52, 100%, 62%);
  --Very-dark-blue: hsl(198, 20%, 13%);
  /* (text) */
  --White: hsl(0, 0%, 100%);

  /* ## Typography */
  /* (numbers) */
  --Font-size: 2rem;
}

body {
  background-color: var(--Very-dark-desaturated-blue-body);
}

.wrapper {
  padding: 1.2rem;
  max-width: fit-content;
}

.font-regular {
  font-size: 1.5rem;
}

.font-small {
  font-size: 0.75rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.75rem;
}

header span {
  color: var(--White);
}

.output {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: end;
  height: 4.5rem;
  padding: 1rem;
  border-radius: 0.35rem;
  font-size: var(--Font-size);
  margin: 0.75rem 0;
  background-color: var(--Very-dark-desaturated-blue-output);
  color: var(--White);
}

main {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  background-color: var(--Very-dark-desaturated-blue-keypad);
  border-radius: 0.35rem;
}

button {
  padding: 1rem;
  font-size: var(--Font-size);
  outline: none;
  border-radius: 0.35rem;
  border: none;
  color: var(--Very-dark-grayish-blue);
}

.reset {
  grid-column: 1 / 3;
}

.submit {
  grid-column: 3/5;
}

/* theme1 stylings */

.body-background {
  background-color: var(--Very-dark-desaturated-blue-body);
}

.output-background {
  background-color: var(--Very-dark-desaturated-blue-output);
}

.keypad-background {
  background-color: var(--Very-dark-desaturated-blue-keypad);
}

.text-white {
  color: var(--White);
}
.test-darkBlue {
  color: var(--Very-dark-grayish-blue);
}

.del,
.submit,
.reset {
  color: var(--White);
}

.del,
.reset {
  background-color: var(--Desaturated-dark-blue);
}

.submit {
  background-color: var(--Dark-red);
}
